# Virtual environment
.venv/

# Python bytecode
__pycache__/
*.py[cod]

# Local env files
.env
.env.*

# Spotipy cache files
.cache
.cache_*

# Logs
*.log

# Editor directories
.vscode/
*.swp

# PyInstaller build artifacts
build/
dist/
*.spec

# OS files
.DS_Store
Thumbs.db
